*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

main{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: magenta;


    .container{
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        >a{
            margin: 1rem;
            padding: .5rem;
            align-self: end;
            background-color: white;
            border-radius: 8px;
        }

        section{
            display: flex;
            flex-wrap: wrap;

            article{
                width: calc((100% / 3) - 2rem);
                height: 20rem;
                margin: 1rem;
                border-radius: 12px;
                overflow: hidden;

                h1{
                    background-color: white;
                    font-size: 2rem;
                    padding: .5rem;
                }

                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                    height: 100%;
                }
            }
        }
    }
}

.show-animal{
    @import './show';
}

.form{
    @import './form';
}

.errors{
        max-width: 40rem;
        margin: .5rem auto;
        text-align: center;
        p{
            color: red;
            background-color: white;
        }
}
